html {
  text-align: center;
}

body {
  align-items: center;
  justify-content: center;
}

header,content,text {
  font-family: monospace;
}

.image-btn {
  background: none;
  border: none;
  padding: 0;
}

.image-btn img {
  display: block;
}

.textp {
  font-family: monospace;
  padding: 30px 0px;
}

header {
  font-family: monospace;
  margin: 20px;
}

.tabcontent {
  animation: fadeEffect 0.3s;
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.note {
  background-color: grey;
  border: none;
  color: white;
  display: inline-block;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
  margin: 10px 1px;
  cursor: pointer;
  border-radius: 25px;
}

.signed {
  background-color: green;
  border: none;
  color: white;
  display: block;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 11px;
  margin: 10px 1px;
  cursor: pointer;
  border-radius: 25px;
}

.barcode {
  background-color: white;
  border: grey;
  border-style: solid;
  border-width: 2px;
  color: grey;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 15px 1px;
  cursor: pointer;
  border-radius: 25px;
}

.incl {
  background-color: orangered;
  border: none;
  color: white;
  padding: 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 11px;
  margin: 15px 1px;
  cursor: pointer;
  border-radius: 25px;
}

.button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 25px 1px;
  cursor: pointer;
  border-radius: 25px;
}

.lookforcd {
  background-color: #f6ed95;
  color: black;
  border: grey;
  border-style: solid;
  border-width: 2px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 12px 3px;
  border-radius: 25px;
  font-family: monospace;
  transition-duration: 0.19999s;
}

.lookforcd:hover {
  background-color: #c3b377;
  color: white;
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.lfcfive {
  background-color: #d6e9ff;
  color: blue;
  border: grey;
  border-style: solid;
  border-width: 2px;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 12px 3px;
  border-radius: 18px;
  font-family: monospace;
  transition-duration: 0.19999s;
}

.lfcfive:hover {
  background-color: #d2bc88;
  color: white;
}

.headerbutton {
  background-color: #A5A4A4;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  margin: 4px 3px;
  border-radius: 22px;
  font-family: monospace;
  transition-duration: 0.5s;
}

.headerbutton:hover {
  background-color: #777777;
}

  .item {
  border: 1.5px grey solid;
  border-radius: 20px;
  max-width: 280px;
  max-height: 900px;
  margin: 15px 8px;
  display: inline-block;
  font-family: monospace;
  }

  .img {
    display: flex;
    display: inline-block;
    max-width: 75px;
    max-height: 75px;
    padding: 15px 5px;
    font-family: monospace;
  }
  
  .debut {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 4px 3px;
    border-radius: 18px;
    font-family: monospace;
    transition-duration: 0.2s;
  }

  .debut:hover {
    background-color: #0D8E5F;
  }

  .fearless {
    background-color: #f6ed95;
    color: black;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 4px 3px;
    border-radius: 18px;
    font-family: monospace;
    transition-duration: 0.2s;
  }

  .fearless:hover {
    background-color: #c3b377;
    color: white;
  }

  .speaknow {
    background-color: #a64477;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 4px 3px;
    border-radius: 18px;
    font-family: monospace;
    transition-duration: 0.2s;
  }

  .speaknow:hover {
    background-color: #513163;
  }

  .red {
    background-color: #FF6B66;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 4px 3px;
    border-radius: 18px;
    font-family: monospace;
    transition-duration: 0.2s;
  }

  .red:hover {
    background-color: #951e1a;
  }

  .five {
    background-color: #d6e9ff;
    border: none;
    color: blue;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 4px 3px;
    border-radius: 18px;
    font-family: monospace;
    transition-duration: 0.2s;
  }

  .five:hover {
    background-color: #d2bc88;
    color: white;
  }

  .rep {
    background-color: #222222;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 4px 3px;
    border-radius: 18px;
    font-family: monospace;
    transition-duration: 0.2s;
  }

  .rep:hover {
    background-color: #000000;
  }

  .lover {
    background-color: #94bfe9;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 4px 3px;
    border-radius: 18px;
    font-family: monospace;
    transition-duration: 0.2s;
  }

  .lover:hover {
    background-color: #C56CC0;
  }

  .folklore {
    background-color: #bababa;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 4px 3px;
    border-radius: 18px;
    font-family: monospace;
    transition-duration: 0.2s;
  }

  .folklore:hover {
    background-color: #ffffff;
    color:black;
  }

  .evermore {
    background-color: #cc621b;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 4px 3px;
    border-radius: 18px;
    font-family: monospace;
    transition-duration: 0.2s;
  }

  .evermore:hover {
    background-color: #994914;
  }

  .midnights {
    background-color: #c9e8fd;
    color: purple;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 4px 3px;
    border-radius: 18px;
    font-family: monospace;
    transition-duration: 0.2s;
  }

  .midnights:hover {
    background-color: #b8acd1;
    color: white;
  }

  .ttpd {
    background-color: lightgrey;
    color: black;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 4px 3px;
    border-radius: 18px;
    font-family: monospace;
    transition-duration: 0.2s;
  }

  .ttpd:hover {
    background-color: grey;
    color: white;
  }

  .stf {
    background-color: #d6e9ff;
    border: none;
    display: block;
    align-self: center;
    color: blue;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 10px;
    margin: 4px 3px;
    border-radius: 18px;
    font-family: monospace;
    transition-duration: 0.2s;
  }

  .stf:hover {
    background-color: #d2bc88;
    color: white;
  }
  
